@font-face {
	font-family: RockStar;
	font-display: swap;
	src: url("../fonts/RockStar-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: RockStar;
	font-display: swap;
	src: url("../fonts/RockStar-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: RockStar;
	font-display: swap;
	src: url("../fonts/RockStar-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: RockStarNarrow;
	font-display: swap;
	src: url("../fonts/RockStarNarrow-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: RockStarNarrow;
	font-display: swap;
	src: url("../fonts/RockStarNarrow-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
