// breakpoint

$sx: 320px;
$sm: 375px;
$mobile: 767px;
$tv: 768px;
$th: 992px;
$device: 1199px;
$ds: 1200px;
$dm: 1700px;
$dl: 1900px;

// font
$font-family: RockStar, sans-serif;
$font-family-second: RockStarNarrow, sans-serif;
$font-size: 12px;
$line-height: 15px;
$font-weight: 400;


// colors

$white: #fff;
$dark: #14140F;
$grey: #999894;
$primary-color: #8C8264;
